{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"jsx": true,
		"useJSXTextNode": true,
		"ecmaVersion": 2021,
		"sourceType": "module",
		"project": ["./tsconfig.json", "./tests/tsconfig.json"]
	},
	"plugins": [
		"@typescript-eslint",
		"@typescript-eslint/eslint-plugin",
		"roblox-ts",
		"prettier"
	],
	"extends": [
		"plugin:@typescript-eslint/recommended",
		"plugin:roblox-ts/recommended",
		"plugin:prettier/recommended"
	],
	"rules": {
		"prettier/prettier": [
			"warn",
			{
				"semi": true,
				"trailingComma": "all",
				"singleQuote": false,
				"printWidth": 105,
				"tabWidth": 8,
				"useTabs": true
			}
		],
		"prefer-const": "warn",
		"curly": ["warn", "multi-line", "consistent"],
		"no-return-await": "off",
		"@typescript-eslint/return-await": "error",
		"@typescript-eslint/no-unused-expressions": "warn",
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/no-for-in-array": "error",
		"@typescript-eslint/no-this-alias": "error",
		"@typescript-eslint/naming-convention": [
			"error",
			{
				"selector": "function",
				"format": ["strictCamelCase", "PascalCase"]
			},
			{
				"selector": "variable",
				"format": ["strictCamelCase", "UPPER_CASE", "PascalCase"]
			},
			{
				"selector": "typeParameter",
				"format": ["PascalCase"]
			},
			{
				"selector": "parameter",
				"format": ["camelCase"],
				"leadingUnderscore": "allow"
			},
			{
				"selector": "interface",
				"format": ["StrictPascalCase"]
			},
			{
				"selector": "classMethod",
				"modifiers": ["private"],
				"format": ["PascalCase"],
				"leadingUnderscore": "allow"
			},
			{
				"selector": ["variable", "parameter", "memberLike"],
				"modifiers": ["destructured"],
				"format": null
			}
		]
	}
}